.main {
    position: fixed;
    width: 150px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    top: 5px;
    background-color: #3A9FE9;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: bounce .7s linear forwards, unbounce .7s linear 3s forwards;
}

.main p {
    font-weight: 700;
    font-size: 15px;
}

@keyframes bounce {
    0%{
        top: -50px;
    }
    40%{
        top: 20px;
    }
    65%{
        top: 0px;
    }
    80%{
        top: 10px
    }
    100%{
        top: 5px;
    }
}

@keyframes unbounce {
    100%{
        top: -50px;
    }
    80%{
        top: 20px;
    }
    65%{
        top: 0px;
    }
    40%{
        top: 10px
    }
    0%{
        top: 5px;
    }
}