.home {
    min-width: 100vw;
    min-height: calc(100vw - 70px);
    background-color: #DFDFDF;
    overflow-y: auto;
    padding-bottom: 10px;
}

.greeting {
    width: 100vw;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.welcome {
    font-size: 30pt;
    font-weight: 900;
    color: #000000;
}

.name {
    font-size: 20pt;
    font-weight: 900;
    color: #3A9FE9;
}

.comingUp,
.available {
    width: 100vw;
    padding: 0 23px;
}

.available {
    margin-top: 20px;
}

.title {
    font-size: 18pt;
    font-weight: bold;
    color: #000000;
}

.comingUpList {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}